.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.header {
  font-size: 36px;
  margin-bottom: 20px;
}

.search-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.title-input,
.description-input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.add-post-button,
.update-post-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-post-button:hover,
.update-post-button:hover {
  background-color: #3e8e41;
}

.edit-post-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-post-button:hover {
  background-color: #0069d9;
}

.delete-post-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-post-button:hover {
  background-color: #da190b;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.post h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.post p {
  margin-top: 0;
}
